$primary-color:#902CF5;
$bg-color:#f8f2fc;
$color-white:#fff;
$button-color:#ec406a;
$color-title-1:#902CF5;
$color-title-2:#4CA52A;
$color-title-3:#F5742C;
$color-title-4:#FF0056;
$color-title-5:#F42F4E;
$color-title-6:#A41A7E;
$color-title-7:#3ABC38;
$dark-body:#8958c7;
$color-btn-2:#804dbf;
$color-dark-title-1:#2EFB36;
$color-dark-title-2:#FC69FF;
$color-dark-title-3:#FF8829;
$color-dark-title-4:#50F4FF;
$dark-button-color:#f5c547;
$dark-button-text-color:#514f53;
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-tab: 47.5em;      // 760px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px
$bp-mobile: 30em; // 480px