@import "_variables";
@import "base";
@import "layout";
@import "components";


html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.wrapper {
    overflow: hidden;
}
.navbar {
    justify-content: space-between;
    flex-flow: wrap;
    padding: 0;
    height: unset;
    box-shadow: -1px 0px 200px 89px rgba(144,45,245,0.17);
    -webkit-box-shadow: -1px 0px 200px 89px rgba(144,45,245,0.17);
    -moz-box-shadow: -1px 0px 200px 89px rgba(144,45,245,0.17);
    position: relative;
    width: 100%;
    z-index: 9;
    @media screen and (max-width: 767px){
        background: #fff;
    }
    & .navbar-container {
        max-width: 1360px;
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        z-index: 1;
        width: 100%;
        
        @media screen and (max-width: 991px){
            padding: 10px 20px 0;
        }
        @media screen and (max-width: 767px){
            padding: 0px 10px 0;
        }
        @media screen and (max-width: 500px){
            padding: 10px 10px 0;
        }
        & .headerLeft{
            width: 33.33%;
            display: flex;
            align-items: center;
            @media screen and (max-width: 767px){
                flex-flow: column;
            }
            & .language-switcher {
                margin-right: 20px;
                @media screen and (max-width: 767px){
                    margin-right: 0px;
                }
                & .language-options {
                    width: 85px;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 25px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(144, 44, 245);
                    /*
                    box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                    box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                    -webkit-box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                    -moz-box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                    */
                    @media screen and (max-width: 767px){
                        width: 60px;
                        height: 22px;
                        margin-bottom: 5px
                    }
                    & span {
                        color: #902CF5;
                        font-size: 14px;
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-weight: bold;
                        line-height: 34px;
                        @media screen and (max-width: 767px){
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }
            & .switch-container {
                width: 85px;
                height: 35px;
                background-color: #fff;
                border-radius: 25px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgb(144, 44, 245);
                /*
                box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                -webkit-box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                -moz-box-shadow: -1px 0px 7px -3px rgb(144, 44, 245);
                */
                padding: 0 4px;
                @media screen and (max-width: 767px){
                    width: 54px;
                    height: 22px;
                }
                & .switch-button {
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media screen and (max-width: 767px){
                        width: 18px;
                        height: 18px;
                    }
                    & img {
                        padding: 3px;
                        width: 16px;
                        object-fit: contain;
                        @media screen and (max-width: 767px){
                            width: 11px;
                        }
                    }
                }
                & .switch-button[disabled] {
                    background: #902cf5!important;
                    & img {
                        filter: brightness(0) invert(1);
                    }
                }
                & .switch-button:not([disabled]) {
                    background: transparent !important;
                }
            }

        }

        & .navbar-logo {
            flex: unset;
            position: relative;
            width: 33.33%;
            & .logo-box {
                width: 100%;
                top: 5.5rem;
                background-color: transparent;
                width: 20rem;
                padding: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                @media screen and (max-width: 1280px){
                    top: 4rem;
                }
                @media screen and (max-width: 991px){
                    top: 30px;
                }
                @media screen and (max-width: 767px){
                    top: 15px;
                    width: 100%;
                }
                @media screen and (max-width: 480px){
                    top: 5px;
                }
                @media screen and (max-width: 390px){
                    top: 5px;
                }
                & img{
                    width: 125px;
                    @media screen and (max-width: 1280px){
                        // width: 100px;
                        width: 130px;
                    }
                    @media screen and (min-width: 1281px){
                        width: 160px;
                    }
                    @media screen and (max-width: 991px){
                        width: 60px;
                    }
                    @media screen and (max-width: 767px){
                        width: 85px;
                    }
                    @media screen and (max-width: 500px){
                        width: 75px;
                    }
                    @media screen and (max-width: 390px){
                        width: 65px;
                    }
                }
            }
        }
        & .headerRight{
            width: 33.33%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media screen and (max-width: 767px){
                flex-flow: column-reverse;
                align-items: center;
            }
            & .visibleMode {
                margin-right: 0;
                @media screen and (max-width: 767px){
                    margin-right: 0;
                    margin-top: 24px;
                }
                & .toggle-button {
                    width: 85px;
                    height: 35px;
                    background-color: #ccc;
                    border-radius: 25px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /*
                    box-shadow: -1px 0px 23px -11px rgb(144 44 245);
                    box-shadow: -1px 0px 23px -11px rgb(144 44 245);
                    -webkit-box-shadow: -1px 0px 23px -11px rgb(144 44 245);
                    -moz-box-shadow: -1px 0px 23px -11px rgb(144 44 245);
                    */
                    @media screen and (max-width: 767px){
                        width: 64px;
                        height: 22px;
                        box-shadow: -1px 0px 18px -5px rgb(144, 44, 245);
                        box-shadow: -1px 0px 18px -5px rgb(144, 44, 245);
                        -webkit-box-shadow: -1px 0px 18px -5px rgb(144, 44, 245);
                        -moz-box-shadow: -1px 0px 18px -5px rgb(144, 44, 245);
                    }
                    & .icon {
                        width: 30px;
                        height: 30px;
                        @media screen and (max-width: 767px){
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                & .toggle-button.light-mode {
                    background-color: #2fb4ee;
                    & .icon {
                        margin-left: auto;
                        margin-right: 4px;
                    }
                }
                & .toggle-button.dark-mode {
                    background-color: #222222;
                    color: #f8f9fa;
                    & .icon {
                        margin-right: auto;
                        margin-left: 4px;
                    }
                }
            }
            & .eidEvents {
                display: none;
                background: #902cf5;
                border-radius: 50px;
                box-shadow: -1px 0px 23px -11px rgba(0,0,0,0.69);
                -webkit-box-shadow: -1px 0px 23px -11px rgba(0,0,0,0.69);
                -moz-box-shadow: -1px 0px 23px -11px rgba(0,0,0,0.69);
                @media screen and (max-width: 767px){
                    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.69);
                    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.69);
                    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.69);
                }
                & a {
                    font-size: 13px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    padding: 8px 18px;
                    display: block;
                    @media screen and (max-width: 767px){
                        font-size: 12px;
                        padding: 3px 12px;
                    }
                }
            }
            
        }
    }
    & .overlayHeader {
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        top: 0;
        @media screen and (min-width: 1680px){
            top: -35px;
        }
        & img {
            width: 100%;
        }
    }
    & .overlayHeaderNight{
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        top: 0px;
        display: none;
        @media screen and (min-width: 1680px){
            top: -35px;
        }
        & img {
            width: 100%;
        }
    }
    & .HeaderCommon{
        @media screen and (max-width: 767px){
            top: 20px;
        }
        @media screen and (max-width: 580px){
            top: 40px;
        }
    }
}



footer.footerMain {
    padding: 50px  0 80px;
    @media screen and (max-width: 1280px){
        padding: 20px 0 50px;
    }
    @media screen and (max-width: 767px){
        padding: 20px 0 50px;
    }
    & .btnWrap {
        width: 100%;
        padding-bottom: 5%;
        & .btn.btn-primary {
            margin: 0 auto;
            display: block;
            max-width: 260px;
            width: 100%;
            /*
            box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
            -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
            -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
            background: #8a59c8;
            */
            padding: 15px 0;
            text-align: center;
            @media screen and (max-width: 680px){
                width: 100%;
                padding: 10px 0;
            }
        }
        /*
        & .btn.btn-primary:hover{
            background-color: #f5c547 !important;
            color: #5C5C5C;
        }
        */
    }
    
    & .footerLogo {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px 0 70px;
        @media screen and (max-width: 991px){
            padding: 0px 0 0px;
        }
        & a {
            padding: 0 55px;
            width: 12%;
            @media screen and (max-width: 680px){
                padding: 0 5%;
                width: 70px;
            }
            & .footerDark{
                display: none;
            }
            & img {
                width: 100%;
                object-fit: contain;
            }
        }
        & a:nth-child(1) {
            border-right: 1px solid #902cf5;
        }
    }
    & .overlayFooter {
        position: relative;
        width: 100%;
        height: 350px;
        @media screen and (min-width: 1680px){
            height: 355px;
        }
        @media screen and (max-width: 1200px){
            height: 300px;
        }
        @media screen and (max-width: 900px){
            height: 280px;
        }
        @media screen and (max-width: 814px){
            height: 260px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 767px){
            height: 135px;
        }
        @media screen and (max-width: 425px){
            height: 120px;
            margin-bottom: 0;
        }
        // @media screen and (max-width: 600px){
        //     height: 130px;
        // }
        // @media screen and (max-width: 500px){
        //     height: 120px;
        // }
        // @media screen and (max-width: 400px){
        //     height: 135px;
        // }
        // @media screen and (max-width: 320px){
        //     height: 123px;
        // }
        & a {
            display: block;
            // position: absolute;
        }
        & .overlayFooterGreen {
            width: 100%;
            // @media screen and (max-width: 580px){
            //     position: absolute;
            //     bottom: 96%;
            // }
            // @media screen and (max-width: 360px){
            //     bottom: 43%;
            // }
            & img {
                width: 100%;
                width: 115%;
                object-fit: cover;
                object-position: left;
                position: absolute;
                top: 50px;
                // @media screen and (max-width: 480px){
                //     bottom: 30%;
                // }
                @media screen and (max-width: 767px){
                    top: 0;
                }
            }
        }
        & .overlayFooterRed {
            width: 57%;
            right: 0;
            top: 38%;
            bottom: 0;
            position: absolute;
            & img {
                width: 100%;
            }
            @media screen and (max-width: 1440px){
                top: 22%;
            }
            @media screen and (max-width: 1440px){
                top: 21%;
            }
            // @media screen and (max-width: 814px){
            //     top: 80%;
            // }
            // @media screen and (max-width: 767px){
            //     top: 80%;
            // }
            @media screen and (max-width: 680px){
                top: 26%;
            }
            @media screen and (max-width:425px){
                top: 31%;
            }
            // @media screen and (max-width: 600px){
            //     top: 60%;
            // }
            // @media screen and (max-width: 576px){
            //     top: 75%;
            // }
            // @media screen and (max-width: 390px){
            //     top: 65%;
            // }
            // @media screen and (max-width: 360px){
            //     top: 61%;
            // }
            // @media screen and (max-width: 340px){
            //     top: 54%;
            // }
            // @media screen and (max-width: 320px){
            //     top: 65%;
            // }
        }
        & .overlayFooterYellow {
            img {
                position: absolute;
                top:100%;
                width: 111%;
                left: -45%;
                transform: rotate(11deg);
                
                // @media screen and (max-width: 767px){
                //     bottom: -10%;
                // }
                // @media screen and (max-width: 400px){
                //     bottom: -10%;
                // }
                // @media screen and (max-width: 360px){
                //     bottom: -10%;
                // }
            }
        }
    }
    & .footerLink  {
        width: 100%;
        @media screen and (max-width: 767px){
            margin-top: 20px;
        }
        & ul {
            display: flex;
            justify-content: center;
            & li {
                list-style-type: none;
                padding: 0 10px;

                & a {
                    color: #494949;
                    font-size: 14px;
                    letter-spacing: .5px;
                    text-decoration: none;
                    line-height: 1;
                }
            } 
            & li:nth-child(1) {
                border-right: 1px solid #494949;
            }
        }
    }
}










.dark-mode {
    & .modal-overlay{
        & .modal-content{
            background-color: #fff;
            color: #6C3CAF;
        }
        & .download-container{
            & .download-preview{
              & img{
                border:1.5px solid #8a59c8;
              }
            }
          }
    }
    
    & .navbar{
        @media screen and (max-width: 767px){
            background: #6c3caf;
        }
        & .navbar-container {
            .logo-box {
                & .light-logo{
                    display: none;
                }
                & .dark-logo{
                    display: initial;
                }
            }
            & .headerRight {
                & .eidEvents {
                    background: #f7c73f;
                    a {
                        color: #3d3d3d;
                    }
                }
            }
        }
        & .overlayHeader {
            display: none;
        }
        & .overlayHeaderNight{
            display: block;
        }
    }
    & footer.footerMain {
        & .btnWrap {
            & .btn.btn-primary {
                /*
                box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                -webkit-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                -moz-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                background: #f5c547;
                color: #514f53;
                */
            }
        }
        & .footerLogo {
            & a {
                & .footerDark{
                    display: initial;
                }
                & .footerLight{
                    display: none;
                }
                &:last-child{
                    & img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            & a:nth-child(1) {
                border-right: 1px solid #fff;
            }
        }
        & .footerLink  {
            & ul {
                & li {
                    & a {
                        color: #d7d7d7;
                    }
                } 
                & li:nth-child(1) {
                    border-right: 1px solid #d7d7d7;
                }
            }
        }
    }
    
    & .swiper-slide {
        & p {
            color: #ffffff !important;
        }
    }
    & .fairSection {
        position: relative;
        & .fairSectionGroup {
            .fairDay {
                display: none;
            }
            .fairNight {
                display: block;
            }
        }
        & .footerMainGroup {
            & >div{
                z-index: 6;
            }
            & .layer01Wrap{
                display: none;
            }
            & .layer01aWrap{
                display: block;
                z-index: 0;
            }
            & .layer03WrapSun  {
                display: none;
            }
            & .layer03WrapMoon  {
                display: block;
            }
        }
    }    
    & .quoteSection {
        & .quoteSectionImg {
            .quoteDay {
                display: none;
            }
            .quoteNight {
                display: block;
            }
        }
    }

    & .greetingSection {
        & .greetingSectionContainer{
            .section-box {
                h2 {
                    color: #87ec6c !important;
                }
                p {
                    color: #fff;
                }
                .btnWrap {
                    & .btn.btn-primary {
                        /*
                        box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                        -webkit-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                        -moz-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
                        background: #f5c547;
                        color: #514f53;
                        */
                    }
                }
            }
        }
    }
    & section.aud{
        & .aud-container{
            & .takbeer-img{
                & .takbeer-text{
                    & .takbeerDark{
                        display: initial;
                    }
                    & .takbeerLight{
                        display: none;
                    }
                }
            }
        }
    }
    & .rideSection {
        & .rideSectionContainer{
            .section-box {
                h2 {
                    color: #e76cb1 !important;
                }
                p {
                    color: #fff;
                }
            }
        }
    }
    
    & .moneySection {
        .section-box {
            h2 {
                color: #f5d159 !important;
            }
            p {
                color: #fff;
            }
            & .btnLogo {
                a{
                    //border: 1px solid #eee;
                    //background: #fff;
                }
            }
        }

    }
    
}

// Loader starts here
/* HTML: <div className="loader"></div> */
.loader {
    width: 120px;
    height: 20px;
    transform: skewX(-45deg);
    background: 
      linear-gradient(#F7C73F 0 0) left -30px top 0/30px 20px no-repeat 
      #6C3CAF;
    animation: l3 1s infinite linear;
  }
  
  @keyframes l3 {
    100% {background-position: right -30px top 0}
  }
  // Loader ends here

.btn-primary {
    transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
    -webkit-transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
    -moz-box-transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
    //box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    //-webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    //-moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    background: #8a59c8;
    color: white;
    &:hover {
        background-color: #f5c547!important;
        //box-shadow: -1px 0px 25px -8px rgb(255, 200, 54);
    }
}

.dark-mode {
    .btn-primary {
        box-shadow: -1px 0px 25px -8px rgb(255 200 54);
        -webkit-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
        -moz-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
        background-color: #f5c547;
        color: white;
        &:hover {
            background-color: white!important;;
        }
    }
}    