@import "../variables";
.greetings-card-container{
    padding-top: 210px;
    position: relative;
    z-index: 9;
    padding-bottom: 30px;
    .layout {
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: inherit;
        max-width: 1200px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
        width: 100%;
        @media screen and (max-width: 1280px){
            width: 90%;
        }
      }
      
      .card-column {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
        padding-right: 10px;

        
      }
      
      .input-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        max-width: 400px; 
      }
      
      .card {
        position: relative;
      }
      .card-error{
        &:first-child {
            border: 5px solid #f20c1c;
            animation: grow-border 2s ease-in-out infinite;
          }
        
          @keyframes grow-border {
            from {
              border-width: 0;
            }
            to {
              border-width: 5px;
            }
          }
      }

      
      
      .card-radio {
        position: absolute;
        top: 9px;
        right: 10px;
        transform: scale(1.5);
        display: none;
      }
      .card-label {
        position: relative;
        display: inline-block;
      }
      .card-label::after {
        content: '';
        position: absolute;
        top: 7px;
        right: 7px;
        width: 30px;
        height: 30px;
        background: #8048CE;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: all 0.3s;
        opacity: 0;
        // transform: scale(0);
      }
      .card:nth-child(even){
        .card-label::after {
            content: '';
            position: absolute;
            top: 7px;
            right: 7px;
            width: 30px;
            height: 30px;
            background: #F7F7F7;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            border: 2px solid #986DD4;
            transition: all 0.3s;
            opacity: 1;
        }
      
      }
      .card:nth-child(odd){
        .card-label::after {
            content: '';
            position: absolute;
            top: 7px;
            right: 7px;
            width: 30px;
            height: 30px;
            background: #F7F7F7;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            border: 2px solid #986DD4;
            transition: all 0.3s;
            opacity: 1;
        }
      
      }
      .card-radio:checked + .card-label::after {
        content: "✓";
        font-size: 17px;
        color: #fff;
        opacity: 1;
        transform: scale(1);
        background: #8a59c8;
        line-height: 31px;
        border: 2px solid #fff;
      }
      .card-image {
        width: 100%;
        height: auto;
        border-radius: 14px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
      }
      
      .message-input {
        padding: 18px;
        margin-bottom: 20px;
        border-radius: 12px;
        border: none;
        height: 150px; 
        resize: none; 
        display: block;
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -moz-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        font-size: 16px;
        color: #4A4A4A;
        font-family: "Space Grotesk", sans-serif;
      }
      .input-error{
        
            border: 2px solid #f20c1c !important;
        //     animation: grow-border 2s linear infinite;
        
        
        // @keyframes grow-border {
        //     from {
        //         transform: rotate(0deg);
        //       }
        //       to {
        //         transform: rotate(360deg);
        //       }
        // }
    }
      .name-input {
        padding: 18px;
        margin-bottom: 20px;
        border-radius: 12px;
        border: none;
        resize: none;
        display: block;
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -moz-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        font-size: 16px;
        color: #4A4A4A;
        font-family: "Space Grotesk", sans-serif;
    }
    .messsageLimit{
        padding: 5px;
    }
      
      .preview-button {
        border: none;
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        display: block;
        box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
        -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
        -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
        background: #8a59c8;
        padding: 15px 0;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 50px;
        width: 220px;
        margin: 20px auto 0;
        font-size: 16px;
      }
      .preview-button:hover {
        background: #fff !important;
        color: #5C5C5C;
      }
        @media screen and (max-width: 1024px){
            .card-column {
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                flex: unset;
                width: 60%;
                gap: 0;
            }
            .input-column {
                    width: 40%;
                    flex: unset;
            }
            .card {
                width: 48%;
                margin-bottom: 20px;
            }
            .card:nth-child(3) {
                order: 1;
            }
            .card:nth-child(6) {
                order: 1;
            }
        }
      @media (max-width: 800px) {
        .layout {
          flex-direction: column;
        }
      
        .input-column {
          width: 100%;
          max-width: none;
          padding-left: 0;
        }
      
        .card-column {
            width: 100%;
            margin-bottom: 25px;
        }
        .message-input {
            height: 100px;
        }
      }
      @media (max-width: 680px) {
        .preview-button{
            width: 100%;
            margin: 7px 0;
            padding: 10px 0;
        }
        .card:nth-child(even) .card-label::after, .card:nth-child(odd) .card-label::after {
            width: 20px;
            height: 20px;
        }
        .card-radio:checked + .card-label::after {
            font-size: 13px;
            line-height: 22px;
        }
      }
}




@media screen and (max-width: 1024px){
    .greetings-card-container {
        padding-top: 18%;
    }
}


.dark-mode {
    
    & .preview-card-container {
        background-color: #8956C9;
    }
    & .greetings-card-container {
        & .preview-button{
            
            box-shadow: -1px 0px 25px -8px rgb(255 200 54);
            -webkit-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
            -moz-box-shadow: -1px 0px 25px -8px rgb(255 200 54);
            background: #f5c547;
            color: #514f53;
        }
    }
}
.greetingSection {
    & .greetingSectionContainer{
        padding: 50px 0 50px;
        position: relative;
        width: 100%;
        @media screen and (max-width: 1366px){
            padding: 50 0 50px;
        }
        @media screen and (max-width: 991px){
            padding:50px 0 50px;
        }
        @media screen and (max-width: 680px){
            padding: 50px 0 30px;
        }
        @media screen and (max-width: 580px){
            padding: 50px 0 30px;
        }
        @media screen and (max-width: 480px){
            padding: 50px 0 30px;
        }
        & .greetingElements {
            & img {
                width: 100%;
            }
            & .greetingElements0 {
                position: absolute;
                width: 8%;
                bottom: -10%;
                left: 1%;
                @media screen and (max-width: 767px){  
                    left: 1%;
                }
                @media screen and (max-width: 680px){
                    bottom: unset;
                    top: 30%;
                    left: 3%;
                }
                @media screen and (max-width: 480px){
                    left: 6%;
                }
                @media screen and (max-width: 414px){
                    width: 10%;
                    left: 2%;
                }
            }
            & .greetingCards{
                display: flex;
                justify-content: center;
                gap: 20px;
                & img {
                    border-radius: 20px;
                }
                & .greetingElements01 {
                    // position: absolute;
                    width: 21%;
                    // top: 7%;
                    // left: 32%;
                    & img {
                        border: 1.5px solid #8a59c8;
                    }
                    @media screen and (max-width:  $bp-tab){
                        width: 30%;
                        // left: 44%;
                    }
                    @media screen and (max-width: $bp-mobile){
                        width: 38%;
                        // left: 42%;
                    }
                    @media screen and (max-width: 375px){
                        width: 35%;
                        // left: 42%;
                    }
                }
                & .greetingElements02 {
                    // position: absolute;
                    // top: 0%;
                    // left: 46%;
                    width: 21%;
                    & img {
                        border: 1.5px solid #f5c547;
                    }
                    @media screen and (max-width:  $bp-tab){
                        width: 30%;
                        // left: 44%;
                    }
                    @media screen and (max-width: $bp-mobile){
                        width: 38%;
                        // left: 42%;
                    }
                    @media screen and (max-width: 375px){
                        width: 35%;
                        // left: 42%;
                    }
                }
            }
            & .greetingElements03 {
                position: absolute;
                width: 13%;
                right: 5%;
                top: 2%;
                // z-index: 9;
                @media screen and (max-width: 680px){
                    // left: unset;
                    // top: 43%;
                    // right: 0;
                    right: 0%;
                    top: 30%;
                    width: 27%;
                }
                @media screen and (max-width: 414px){
                    width: 27%;
                }
            }
            & .greetingElements04 {
                position: absolute;
                width: 15%;
                right: 5%;
                top: 0%;
                @media screen and (max-width: 414px){
                    width: 17%;
                }
            }
            & .greetingElements05 {
                position: absolute;
                width: 3%;
                right: 9%;
                top: -2%;
                @media screen and (max-width: 414px){
                    width: 5%;
                }
            }
            & .greetingElements06 {
                position: absolute;
                width: 3%;
                right: 17%;
                top: 27%;
                @media screen and (max-width: 680px){
                    right: 19%;
                    top: 8%;
                }
                @media screen and (max-width: 414px){
                    width: 5%;
                }
            }
            & .greetingElements07 {
                position: absolute;
                width: 3%;
                right: 3%;
                top: 19%;
                @media screen and (max-width: 680px){
                    right: 1%;
                    top: 14%;
                }
                @media screen and (max-width: 414px){
                    width: 5%;
                }
            }
            & .greetingElements08{
                position: absolute;
                width: 7%;
                left: 22%;
                top: 3%;
                display: block;
                @media screen and (max-width: 680px){
                    left: 27%;
                    top: 0%;
                    width: 10%;
                }
            }
            & .greetingElements09{
                position: absolute;
                width: 11%;
                left: 5%;
                top: 3%;
                display: none;
                @media screen and (max-width: 767px){
                    display: block;
                }
            }
            & .greetingElements10 {
                position: absolute;
                width: 8%;
                bottom: 80%;
                left: 20%;
                @media screen and (max-width: 767px){  
                    left: 10%;
                }
                @media screen and (max-width: 680px){
                    top: 30%;
                    left: 3%;
                }
                @media screen and (max-width: 480px){
                    left: 6%;
                }
                @media screen and (max-width: 414px){
                    width: 10%;
                    left: 2%;
                }
            }
        }
        & .section-box {
            width: 100%;
            margin-left: auto;
            text-align: center;
            margin: 0 auto;
            position: relative;
            max-width: 700px;
            @media screen and (max-width: 1280px){
                max-width: 600px;
            }
            @media screen and (max-width: 680px){
                max-width: 80%;
            }
            h2 {
                padding-top: 15%;
                color: #eb436f;
            }
            p {
                color: #000;
            }
            & .btnWrap {
                display: flex;
                justify-content: space-between;
                flex-flow: wrap;
                width: 100%;
                margin-top: 40px;
                justify-content: center;
                @media screen and (max-width: 680px){
                    flex-flow: column;
                }
                & .btn.btn-primary {
                    // margin: 0;
                    display: block;
                    width: 48%;
                    /*
                    box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
                    -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
                    -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
                    background: #8a59c8;
                    */
                    padding: 15px 0;
                    @media screen and (max-width: 680px){
                        width: 100%;
                        margin: 7px 0;
                        padding: 10px 0;
                    }
                }
                /*
                & .btn.btn-primary:hover{
                    background-color: #fff !important;
                    color: #5C5C5C;
                }
                */
            }
        }
    }
}
