.rideSection {
    & .rideSectionContainer{
        padding: 200px 0 11%;
        position: relative;
        width: 100%;
        // @media screen and (max-width: 1680px){
        //     padding: 350px 0 17%;
        // }
        // @media screen and (max-width: 1440px){
        //     padding: 300px 0 17%;
        // }
        // @media screen and (max-width: 1366px){
        //     padding: 270px 0 17%;
        // }
        @media screen and (max-width: 1160px){
            padding: 150px 0 14%;
        }
        @media screen and (max-width: 767px){
            padding: 70px 0 170px;
        }
        @media screen and (max-width: 680px){
            padding: 70px 0 120px
        }
        @media screen and (max-width: 500px){
            padding: 70px 0 100px
        }
        & .rideElements {
            & img {
                width: 100%;
            }
            & .rideElements0 {
                position: absolute;
                width: 14%;
                top: -18%;
                left: 15%;
            }
            & .rideElements01 {
                position: absolute;
                width: 30%;
                top: 23%;
                left: -31%;
                opacity: 0;
                // scale: 2;
                @media screen and (max-width: 1024px){
                    left: -36%;
                }
                @media screen and (max-width: 991px){
                    left: -39%;
                }
                @media screen and (max-width: 800px){
                    left: -44%;
                }
                @media screen and (max-width: 767px){
                    left: -62%;
                    width: 37%;
                }
                @media screen and (max-width: 680px){
                    left: -55%;
                    bottom: unset;
                    top: 44%;
                }
                @media screen and (max-width: 480px){
                    left: -111%;
                    top: 44%;
                    width: 65%;
                }
            }
            & .rideElements02 {
                position: absolute;
                width: 23%;
                right: -29%;
                bottom: 10%;
                opacity: 0;
                // scale: 2;
                @media screen and (max-width: 1024px){
                    right: -23%;
                }
                @media screen and (max-width: 991px){
                    right: -28%;
                }
                @media screen and (max-width: 800px){
                    right: -32%;
                }
                @media screen and (max-width: 767px){
                    right: -44%;
                    width: 26%;
                }
                @media screen and (max-width: 680px){
                    right: -34%;
                    top: 16%;
                }
                @media screen and (max-width: 480px){
                    right: -71%;
                    top: 16%;
                    width: 41%;
                }
            }
            & .rideElements03 {
                position: absolute;
                width: 51%;
                bottom: 3%;
                right: 0%;
                @media screen and (max-width: 680px){
                    width: 70%;
                    bottom: 1%;
                    right: -4%;
                }
            }
            & .rideElements04 {
                position: absolute;
                width: 84%;
                right: 0%;
                bottom: -5%;
                @media screen and (max-width: 680px){
                    width: 138%;
                    right: -60%;
                    bottom: 0;
                }
            }
            & .rideElements05 {
                position: absolute;
                width: 51%;
                bottom: 16%;
            }
            & .rideElements06 {
                position: absolute;
                width: 51%;
                bottom: 15%;
            }
        }
        .section-box {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            max-width: 500px;
            position: relative;
            @media screen and (max-width: 680px){
                max-width: 52%;
            }
            // @media screen and (max-width: 480px){
            //     max-width: 200px;
            // }
            // @media screen and (max-width: 390px){
            //     max-width: 170px;
            // }
            h2 {
                color: #a82689;
            }
            p {
                color: #000;
            }
        }
    }
}